<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <%if (balance) { %>
    <h3>Your balance is <%= balance %>
    </h3>
    <% } %>

      <form action="/" method="post">
        <label for="address">Address</label>
        <input type="text" name="address" />
        <button type="submit">Check Balance</button>
      </form>

      <a class="btn btn-dark btn-sm" href="/sendEth"> Send your Crypto </a>

</body>

</html>
