<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Farmers home</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../images/main/olive.png" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../stylesheets/style.css" rel="stylesheet" />
    <!-- Core theme JS-->
    <script src="../javascripts/scripts.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#page-top"><img src="../images/main/olive.png" alt="..." /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#intro">Intro</a></li>
                    <li class="nav-item"><a class="nav-link" href="#project">Project</a></li>
                    <li class="nav-item"><a class="nav-link" href="#product">Product</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    <li class="nav-item"><a id='login' class="nav-link" href="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="transbox">
                <br>
                <br>
                <div class="masthead-subheading">Welcome To Our Community!</div>
                <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
                <h1 class="text-center">Farmers home
                    <img src="../images/main/olive.png" alt="Olives" width="50" height="50">
                </h1>
                <br>
                <a class="btn btn-primary btn-xl text-uppercase" href="#intro">Tell Me More</a>
            </div>
    </header>

    <!-- Intro-->
    <section class="page-section" id="intro">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Intro</h2>
                <h3 class="section-subheading text-muted">Digital shadow in the Supply Blockchain</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Web3 E-Commerce</h4>
                    <p class="text-muted"> Do you trust the product you introduce in your kitchen?
                      Blockchain offers you full traceability. From the supplier to the carrier that brings
                      them to your home. Welcome to the XXI century shopping model</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Join us</h4>
                    <p class="text-muted">We are a community based on strong ethics. With just on purchase
                      you become a member supporting our cause. We all need each other, that's our motto.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Web Security</h4>
                    <p class="text-muted">We really value Privacy, that's why you don't see for example that
                      annoying pop-up cookies screen asking your consent to be spied, stole your data, drain your battery... </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Project Grid-->
    <section class="page-section bg-light" id="project">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Project</h2>
                <h3 class="section-subheading text-muted">Click on the different images to see the sections of the
                    project</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- project item 1-->
                    <div class="project-item">
                        <a class="project-link" data-bs-toggle="modal" href="#projectModal1">
                            <div class="project-hover">
                                <div class="project-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../images/project/1.jpg" alt="..." />
                        </a>
                        <div class="project-caption">
                            <div class="project-caption-heading">1</div>
                            <div class="project-caption-subheading text-muted">Executive Summary</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- project item 2-->
                    <div class="project-item">
                        <a class="project-link" data-bs-toggle="modal" href="#projectModal2">
                            <div class="project-hover">
                                <div class="project-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../images/project/2.jpg" alt="..." />
                        </a>
                        <div class="project-caption">
                            <div class="project-caption-heading">2</div>
                            <div class="project-caption-subheading text-muted">Background</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- project item 3-->
                    <div class="project-item">
                        <a class="project-link" data-bs-toggle="modal" href="#projectModal3">
                            <div class="project-hover">
                                <div class="project-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../images/project/3.jpg" alt="..." />
                        </a>
                        <div class="project-caption">
                            <div class="project-caption-heading">3</div>
                            <div class="project-caption-subheading text-muted">Objectives and approach</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <!-- project item 4-->
                    <div class="project-item">
                        <a class="project-link" data-bs-toggle="modal" href="#projectModal4">
                            <div class="project-hover">
                                <div class="project-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../images/project/4.jpg" alt="..." />
                        </a>
                        <div class="project-caption">
                            <div class="project-caption-heading">4</div>
                            <div class="project-caption-subheading text-muted">Technology </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <!-- project item 5-->
                    <div class="project-item">
                        <a class="project-link" data-bs-toggle="modal" href="#projectModal5">
                            <div class="project-hover">
                                <div class="project-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../images/project/5.jpg" alt="..." />
                        </a>
                        <div class="project-caption">
                            <div class="project-caption-heading">5</div>
                            <div class="project-caption-subheading text-muted">System</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <!-- project item 6-->
                    <div class="project-item">
                        <a class="project-link" data-bs-toggle="modal" href="#projectModal6">
                            <div class="project-hover">
                                <div class="project-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../images/project/6.jpg" alt="..." />
                        </a>
                        <div class="project-caption">
                            <div class="project-caption-heading">6</div>
                            <div class="project-caption-subheading text-muted">Conclusion</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Product-->
    <section class="page-section" id="product">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Product</h2>
                <h3 class="section-subheading text-muted">This is limited offer. If you have ETH in your Metamask, don't
                    think too much, just
                    buy.</h3>
            </div>
            <!-- ORDER THE PRODUCT -->
            <div class="container">
                <div id="bottlesRow" class="row">
                    <!-- BOTTLES LOAD HERE -->
                </div>
                <div id="bottlesTemplate" style="display: none;">
                    <div class="col-lg-6 text-center center">
                        <div class="panel panel-default panel-pet">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3>
                            </div>
                            <div class="panel-body" position: relative>
                                <img alt="140x140" data-src="holder.js/140x140" class="img-rounded" width="200"
                                    height="200" data-holder-rendered="true">
                                <br /><br />
                                <strong>Olive variety</strong>: <span class="bottles-olives">Olives</span><br />
                                <strong>Flavour</strong>: <span class="bottles-flavour">Flavour</span><br />
                                <strong>Year</strong>: <span class="bottles-year">Year</span><br />
                                <strong>Location</strong>: <span class="bottles-location">Location</span><br /><br />
                                <strong>Price</strong>: <span class="bottles-price">Price</span><br /><br />
                                <button id='btn-buy' class="btn btn-primary btn-l text-uppercase"
                                    >Buy</button>
                                <br /><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">About</h2>
                    <h3 class="section-subheading text-muted">What a wonderful adventure!</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../images/about/1.svg"
                                alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>September 2021</h4>
                                <h4 class="subheading">Semester 1</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                      Software Development,
                                      Object Oriented Software Engineering,
                                      Introduction to Databases,
                                      Web Design and Client-Side Scripting
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../images/about/2.svg"
                                alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>January 2022</h4>
                                <h4 class="subheading">Semester 2</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                  Computer Architecture Operating Systems and Networks,
                                  Blockchain Foundations,
                                  Distributed Systems,
                                  Career Bridge
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../images/about/3.svg"
                                alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>April 2022</h4>
                                <h4 class="subheading">Semester 3</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                  Blockchain Application Development,
                                  Project
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../images/about/4.svg"
                                alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>September 2022</h4>
                                <h4 class="subheading">No more semesters</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                  FREEDOM
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Be Part
                                <br />
                                Of Our
                                <br />
                                Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Where team work is everything</h3>
                </div>
                <div class="row">
                    <div class="centre">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="../images/team/Jacob.jpg" alt="..." />
                            <h4>Jacob Molina</h4>
                            <p class="text-muted">Project Lead</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"
                                aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"
                                aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"
                                aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 mx-auto text-center">
                            <p class="large text-muted">We are currently hiring volunteers. Nothing is paid but as you
                                know experience is the only thing that matters. If you have at least three PhDs in
                                Blockchain, 40 years experince and you are used to have good grades, don´t look any
                                further, this is your place, you are welcome to our fantastic
                                team.
                            </p>
                        </div>
                    </div>
                </div>
        </section>

        <!-- Clients-->
        <div class="py-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto"
                                src="../images/logos/microsoft.svg" alt="..." aria-label="Microsoft Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="../images/logos/google.svg"
                                alt="..." aria-label="Google Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto"
                                src="../images/logos/facebook.svg" alt="..." aria-label="Facebook Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="../images/logos/ibm.svg"
                                alt="..." aria-label="IBM Logo" /></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center ">
                  <div class="text-uppercase">
                    <br><br>
                  <h2 class="section-heading text-uppercase ">Contact Us</h2><br><br>
                </div>
                </div>
                <!-- Contact Form -->
                <form id="contactForm" method="post" action="mailto:x18157807@student.ncirl.ie"
                    onsubmit="return validate()">
                    <div class= "row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- Name input-->
                                <input class="form-control" id="name" type="text" placeholder="Your Name *" />
                            </div>
                            <div class="form-group mb-md-0">
                                <!-- Email address input-->
                                <input class="form-control" id="email" type="email" placeholder="Your Email *"
                                    data-sb-validations="required,email" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0">
                                <!-- Message input-->
                                <textarea class="form-control" id="message" placeholder="Your Message *"
                                    data-sb-validations="required"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Submit Button-->
                    <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" type="submit">Send
                            Message</button></div>
                </form>
            </div>
        </section>

        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Farmers Home 2022</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>

        <!-- project Modals-->
        <!-- project item 1 modal popup-->
        <div class="project-modal modal fade" id="projectModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="../images/main/close-icon.svg"
                            alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">1</h2>
                                    <p class="item-intro text-muted">Executive Summary</p>
                                    <img class="img-fluid d-block mx-auto" src="../images/project/1.jpg" alt="..." />
                                    <p>Consumers and producers need to make sure products traded are not tampered in the supply chain by greedy hands and have a clear
                                       traceability. At the same time supply chain providers need to demonstrate ownership and origin of goods and transfer them which is
                                       paper heavy. The purpose of this application is to deliver a work environment for this three type of players. A producer sets a total
                                       production of stock visible to everybody in the blockchain. For every  good produced, in this case bottles of olive oil, an unique
                                       token is created. This way a physical good is linked with a digital asset. This token identifies each product, it will be minted by the
                                       consumer when buying the bottle and the producer wallet will hold it. The producer will transfer the token to the wallet of the carrier
                                       once the physical good is delivered. They can upload relevant documentation and comments. Likewise every carrier will do the same with the
                                       following one. However once the token reach the customer account and the product is delivered, the token will be locked and no more token
                                       transfers are allowed. This is encompassed in a decentralized web3 application that connects to the Ethereum Ropsten test net.
                                    </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Leacturer:</strong>
                                            Sean
                                        </li>
                                        <li>
                                            <strong>Student:</strong>
                                            Jacob
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
                                        type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Executive Summary
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- project item 2 modal popup-->
        <div class="project-modal modal fade" id="projectModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="../images/main/close-icon.svg"
                            alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">2</h2>
                                    <p class="item-intro text-muted">Background</p>
                                    <img class="img-fluid d-block mx-auto" src="../images/project/2.jpg" alt="..." />
                                    <p>Fraud in the olive oil sector is a well-documented case, whether is by misleading marketing in the quality or adulteration with other
                                      vegetables oils. Most of the cases happen in the supply chain and some of them with devastating consequences, ending the life of intoxicated
                                      people. Blockchain offers international full transparency at the traceability level and within this use case it doesn’t allow the falsification
                                      of an extra product. At the same time international trade is highly reliable in paper documentation as a way to avoid these issues among others.
                                      However the administrative burden just adds up to an already in flame Global Supply Chain Crisis. The United Nation addressed this issue and offered
                                      a Model Law on Electronic Transferable records back in 2017. Some project have been built on this basis. However due to the heavy influence of British
                                      law in the international trade, it seems to be the UK government's the one lately pushing in this direction. At the moment of writing this lines, a
                                      report and a draft legislation has been published by the Law Commission emphasizing on distributed ledger technology. This project has been build
                                      following these guidelines.
                                    </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Lecturer:</strong>
                                            Sean
                                        </li>
                                        <li>
                                            <strong>Student:</strong>
                                            Jacob
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
                                        type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Background
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- project item 3 modal popup-->
        <div class="project-modal modal fade" id="projectModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="../images/main/close-icon.svg"
                            alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">3</h2>
                                    <p class="item-intro text-muted">Objectives and approach</p>
                                    <img class="img-fluid d-block mx-auto" src="../images/project/3.jpg" alt="..." />
                                    <p>From a customer perspective, there is a lot of value in buying a product from a trusted party. From a producer it is convenient that the clients
                                      associate the product to them instead of the distributor. And from a supply chain point of view, digitalizing in a record the ownership of a cargo
                                      is helpful. And the three part can be benefited from sharing an incorruptible and immutable tracking file. However all of this can be useless if the is
                                      process to accomplish it is overly complex for the average user. This is why I have used a minimalistic approach full of functionality but with the minimum
                                      of interactions.
                                    </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Lecturer:</strong>
                                            Sean
                                        </li>
                                        <li>
                                            <strong>Student:</strong>
                                            Jacob
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
                                        type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Objectives and approach
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- project item 4 modal popup-->
        <div class="project-modal modal fade" id="projectModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="../images/main/close-icon.svg"
                            alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">4</h2>
                                    <p class="item-intro text-muted">Technology </p>
                                    <img class="img-fluid d-block mx-auto" src="../images/project/4.jpg" alt="..." />
                                    <p>Blockchain is the foundation of this use case. A smart contract deployed in the public Ropsten test net will be conducting and registering the
                                      transactions as the core backend of the web app. Solidity is the programming language used to that end. The pretesting environment has been done using
                                      Truffle framework as a way to compile and deploy smart contracts in Ganache, which is a local blockchain emulator. Further testing has been done using the
                                      online Remix Integrated development environment (IDE).
                                    Openzeppelin libraries have been used to develop non-fungible tokens following the ERC721 standard. However this standard doesn’t prevent the transfer of a
                                    token under some conditions, so mayor modification have been done in the core of the referred contracts. The smart contract I have deployed is the result of
                                    developing three of them with different functionalities but linked together which in turn use some modified functionalities of the Openzepplin contracts.
                                    The portal to access the blockchain is Metamask, which is installed as a browser extension. The web app is built using HTML language to display the content on
                                    the browser, CSS to format it along with Bootstrap and JavaScript to bring functionality. Node.js is the dependency that allowed the development of the web app
                                    in an IDE. It is as well the bridge that allows the interaction in the web with the smart contract methods through the use of the web3.js library.
                                    Express.js is the web app back end framework used to support all the interaction between the browser and the blockchain. The testing has been done in the
                                    localhost keeping track of all the changes with Git, backing up the code in Github for further deployment on Heroku.
                                    </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Lecturer:</strong>
                                            Sean
                                        </li>
                                        <li>
                                            <strong>Student:</strong>
                                            Jacob
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
                                        type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Technology
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- project item 5 modal popup-->
        <div class="project-modal modal fade" id="projectModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="../images/main/close-icon.svg"
                            alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">5</h2>
                                    <p class="item-intro text-muted">System</p>
                                    <img class="img-fluid d-block mx-auto" src="../images/project/5.jpg" alt="..." />
                                    <p>A client will be offered information of the supplier on a website. One of the sections offers the product. With only two clicks, one in a browser
                                      button and other in a personal wallet, the customer will be able to pay, create a record of his ownership in the blockchain and create the token in the
                                      supplier wallet. At the same time, once the token is received, either the supplier or a supply chain participant, with one click they will be able to see
                                      their token balance. And completing three field of a form plus click, they will be able to transfer the ownership. And just in the same page they will be
                                      able to upload documents and comments.
                                    </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Lecturer</strong>
                                            Sean
                                        </li>
                                        <li>
                                            <strong>Student</strong>
                                            Jacob
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
                                        type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close System
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- project item 6 modal popup-->
        <div class="project-modal modal fade" id="projectModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="../images/main/close-icon.svg"
                            alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">6</h2>
                                    <p class="item-intro text-muted">Conclusion</p>
                                    <img class="img-fluid d-block mx-auto" src="../images/project/6.jpg" alt="..." />
                                    <p>Every moment in history brings technology that helps society to develop together. Quality life is determined by the amount of transaction that add
                                      personal value to this standard. Digitalization has taken interactions to the next level, however most of this movement has been concentrated and
                                      capitalized by only few. On top of this, everything has evolved on separate projects. Standardise, harmonize, create consensus looking to a single reality
                                      is necessary.
                                        In this project it is seen how existent technology can be driven to this new blockchain space where players who currently fall in conflicts of interest
                                        can work together, create synergies and work in a more effective and efficient way. Technology is today available, adoption is on the way. That said the
                                        majority of the technology is already extended in use, blockchain is just another extra step that adds a public immutable storage for record timestamped
                                        and with ownership demonstrability.
                                        Another point made is the easiness for the regular user who is accustomed to most of the flow of events. As in every project user experience and functionality
                                        can be expanded but the core doesn’t needs to be complex. Digital assets can hold ownership of real goods offering international undisputable traceability in
                                        exchange for cryptocurrency. At the same time the security in the payment is higher than conventional method and easier.
                                        While smart contracts can automatize a big portion of the administrative load reducing time and errors, privacy is a concern on this domain. The pseudo
                                        anonymity that an account can offer can come to an end if it is the real identity is linked with it. This is a mayor concern as all the records are public.
                                        While user possess more control on them and usage is their responsibility, hacks are an often and mayor issue that can target hosted wallet or private databases
                                        with this information.
                                        I will finish bringing the convenience of adopting this technology to existent services. As proven, as far as some precondition are set, borders are not a
                                        barrier and speed of transaction is dictated by the bandwidth. All of this encompassed in single web apps with instructions run by events that can store records.
                                        To integrate ourself to the society we need to register our interactions following a set of rules very often. At the same time we need to be able to prove them.
                                        This technology qualifies for those demanded requirements.
                                        </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Lecturer:</strong>
                                            Sean
                                        </li>
                                        <li>
                                            <strong>Student:</strong>
                                            Jacob
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
                                        type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Conclusion
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!--Javascript functionality to load catalogue connect to Metamask and enable Buy function from the smart contract-->
        <script src="../javascripts/connect.js"></script>

</body>

</html>
